# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sln
*.vcxproj
*.filters
*.user
*.vsidx
*.lock
*.db
*.db-shm
*.db-wal
*.opendb
.vs/slot_machine/v17/.suo
*.ipch
*.log
*.tlog
*.idb
*.pdb
*.recipe
*.ilk
